:root 								{
	--app-side 		: 320px;
	--app-head 		: 50px ;
	--app-menu 		: 62px ;
	--app-body 		: 656px;
}


$app-head : 50px;
$app-menu : 62px;


@import "screen";


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ temel layout olcu etikleri */


html 								{ font: 300 14px 'Open Sans'; -webkit-text-size-adjust: 100%;  text-size-adjust: 100% }
html,body 							{ min-height:100%; width:100% }
body::-webkit-scrollbar 			{ display: none}

//body 								{ overflow-x: hidden ; transition: opacity .3s; opacity: 1 ; /*min-width:1024px; min-height:768px*/ }

body 								{ overflow-x: hidden ; display:flex; flex-direction:column;min-height:100vh;  }
body > main 						{ flex:1 }

html.query 							{ pointer-events: none; background:url('img/load/spin.gif') no-repeat center center;
	body							{ opacity: 0 }
}


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ temel layout olcu etikleri */

.con  								{ width:100%; max-width:$case-max; padding-left: $gl-gut;  padding-right: $gl-gut ; margin-left:auto; margin-right:auto; 
	&.np 							{ padding-left:0; padding-right:0 }
	&.row 							{
		&:not(.nsc) 				{ padding-left:0; padding-right:0 }
	}
}

.e  								{ padding-left: $gl-gut;  padding-right: $gl-gut  }



/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ heade bar */

.head-bar 							{ border-bottom:1px solid #ddd; height:60px;
	
	.map-links 						{ font-family:Ubuntu; letter-spacing:.8px;
		ul 							{ display:flex;
			a 						{ color:$color-a; &:hover{ color:$color-b}}
			li i 					{ padding:0 12px; color:#cac8c8; font-size: 12px; top: -1px; left: 1px;}
			li.on 					{
				a 					{ pointer-events:none; color:#888}
			}
		}
	}
}



.acord 								{
	details 						{ border-top:1px solid $gray-2; 
		> summary 					{ font-size:24px; color:$color-a;  padding:22px 0; &:hover{ color:$color-b};
			span 					{ font-weight:200; font-size:38px; top:13px; right:5px;
				i:nth-child(1) 		{ }
				i:nth-child(2) 		{ font-size:54px; top:-11px}
			}
		}
		
		&:not([open]) 				{
			span i:nth-child(1) 	{  display:block}
			span i:nth-child(2) 	{  display:none }
		}

		&[open] 					{
			span i:nth-child(1) 	{  display:none  }
			span i:nth-child(2) 	{  display:block }
		}
	}
}



/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ line */

hr.line-x 							{ height:1px; display:block; width:100%; background:$gray-2; border:0}
hr.line-y 							{ width:1px;  background:$gray-2; border:0; height:100% }

.line.yb 							{ border-bottom:1px solid $gray-2  }
.line.yl 							{ border-left:1px solid $gray-2  }
.line.yr 							{ border-right:1px solid $gray-2 }
.line.xl 							{ border-left:1px solid $gray-2  }
.line.xr 							{ border-right:1px solid $gray-2 }



//  text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased *
//  #code-builds .back 			{ @include kapla(-1); position: fixed; display:none }
//  .con-ext 						{ width:95%; max-width:$case-ext; margin:0 auto} 
//  @media #{$gl-con-min} 			{ .con,.gut-x{ padding-left:($gl-gut/2); padding-right:($gl-gut/2) } }  
//  @media #{$gl-con} 				{ .con,.gut-x{ padding-left:30px; padding-right:30px } } 