

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
@ page : post grup model 1  */ 

.post-grup-1 					{

	

	
	.cover 						{
		.sol 					{ background:$color-a url('img/fig-5.png') no-repeat center center; backgrond-size:cover; color:white;
			h5 					{ font-size:20px }
			blockquote 			{ font-size:16px; line-height:25px; text-align:justify}
		}
	}

	
	.as.f-1 					{
		.sag 					{ border-left:1px solid $gray-2 }
	}
}

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
@ post detay */ 

.post-detay 					{

	.post-foto 					{ background:#f1f1f1; border-radius:10px;	

	}

	.post-head 					{
		h1 						{ font-size:42px; margin-bottom:6px }
		p 						{ font-size:30px }
	}
}



/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
@ post more line  */ 


.more 									{ width:100%; color: #436aa7;font:500 16px 'Ubuntu';  display:block;
	a 									{ color: #436aa7 }
	span 								{ margin-bottom:18px; display:block }
	i 									{ font-size: 11px; top: 1px; left: 5px;}
	hr  								{ background:$line-1; border:0; height:1px; width:100%;}
}
	

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
@ post model 1  */ 

.sec-posts.f-1 							{
	figure 								{ background:#f9f9f9; border-radius:4px }
	h3 									{ font-size:19px }
	a 									{ display:block; height:100%; padding-bottom:50px }
	summary 							{ text-align:justify; line-height:26px; }
	span 								{ display: block }
	.more 								{ bottom:10px    }
}

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
@ post model 5  */

.sec-posts.f-5 							{
	figure 								{ background:#f9f9f9; border-radius:4px }
	h4 									{ font-size:19px }
	article > a 						{ display:block;
		&:hover h4 						{ color:$color-b; }
	}
	summary 							{ text-align:justify; line-height:26px; }
	span 								{ display: block }
	.more 								{ font-size:13px;
		a i								{ font-size:14px ; top:1px; color:#333; margin-right:7px 	}
	}
}

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
@ post model 2  */ 

.sec-posts.f-2 								{
		li 									{ border-bottom:1px solid #ddd; padding:18px 0; 
			&:first-child 					{ padding-top:0 }
			&:last-child 					{ border:0 }
			h4 								{ font-size:20px; font-weight:600; margin-bottom:15px }
			time 							{ font-size:12px; color:#080808  }
		}
	}


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
@ post model 3  */ 

.sec-posts.f-3 								{
		ul 									{
			h5 								{ font-size:12px; margin-bottom:10px; background: #ececec;border-radius: 5px; padding: 4px 12px;letter-spacing: 0.5px;font-weight: 600;}
			> li 							{ padding:0 0 15px 0;
				&:last-child				{ border:0 }
				li 							{ display:flex; margin-bottom:8px;
					div:nth-child(1) 		{ width:80px ; font-weight:bold;
						span 				{ padding-left:12px; top:5px; color:#de5f4a  }	
					}
					div:nth-child(2) 		{ flex:1; border-left:1px solid #d8d8d8; padding:2px 14px }
					h4 						{ font-size:18px; font-weight:600; margin-bottom:3px}
					span 					{ font-size:12px; color:#222}
				}
			}
		}
	}

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 

@ post model 4  */ 


.sec-posts.f-4 							{
	
	article 							{ padding:25px 0; border-bottom:1px solid $gray-2;
		&:last-child 					{ padding-bottom:0; border:0}
		&:first-child 					{ padding-top:0}
	}

	figure 								{ background:#efefef; width:230px; border-radius:4px }
	h3 									{ font-size:19px }
	a 									{  }
	summary 							{ text-align:justify; line-height:26px; }
	span 								{ display: block }
	.mores 								{  font-weight:600;
		i 								{ font-weight:normal; font-size:11px; top:1px}
	}
}