.about 							{


	.cover 						{
		.sol 					{ background:$color-a url('img/fig-5.png') no-repeat center center; backgrond-size:cover; color:white;
			h5 					{ font-size:20px }
			blockquote 			{ font-size:16px; line-height:25px; text-align:justify}
		}
	}

	.as 						{
		.sag 					{ border-left:1px solid $gray-2 }
	}
}